[submodule "libcif"]
	path = libcif
	url = git@github.com:collectiveintel/libcif.git
[submodule "cif-smrt"]
	path = cif-smrt
	url = git@github.com:collectiveintel/cif-smrt.git
[submodule "libcif-dbi"]
	path = libcif-dbi
	url = git@github.com:collectiveintel/libcif-dbi.git
