[submodule "cif-router"]
	path = cif-router
	url = git@github.com:collectiveintel/cif-router.git
[submodule "cif-smrt"]
	path = cif-smrt
	url = git@github.com:collectiveintel/cif-smrt.git
[submodule "libcif"]
	path = libcif
	url = git@github.com:collectiveintel/libcif.git
[submodule "libcif-dbi"]
	path = libcif-dbi
	url = git@github.com:collectiveintel/libcif-dbi.git
[submodule "libcif-dbi-asn"]
	path = libcif-dbi-asn
	url = git@github.com:collectiveintel/libcif-dbi-asn.git
