# these top-level configs are the defaults applied to each section
severity = 'medium'
confidence = 85
restriction = 'need-to-know'
alternativeid_restriction = 'public'
source = 'localhost'
guid = everyone

[sshbl.org]
feed = 'http://www.openbl.org/lists/date_all.txt'
regex = '^(\S+)[\s]+(\d+)$'
regex_values = 'address,detecttime'
source = sshbl.org
assessment = 'scanner'
description = 'ssh'
portlist = 22
protocol = tcp
alternativeid = 'http://www.openbl.org/lists/date_all.txt'
period = hourly

[bruteforceblocker]
feed = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
regex = '^(\S+)[\s|\t]+#\s(\S+\s\S+)'
regex_values = 'address,detecttime'
source = 'danger.rulez.sk'
portlist = 22
protocol = tcp
assessment = 'scanner'
description = 'ssh'
alternativeid = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
period = hourly

[threatexpert]
feed = 'http://www.threatexpert.com/latest_threat_reports.aspx'
regex_link = "md5=([a-f0-9]{32})$"
regex_link_values = 'hash'
regex_title = '([\s\S]+)'
regex_title_values = 'description'
regex_guid = '(\S+)'
regex_guid_values = 'alternativeid'
regex_pubDate = '([\s\S]+)'
regex_pubDate_values = 'detecttime'
assessment = 'malware'
source = 'threatexpert.com'
severity = high
confidence = 95
# until we can figure out what they're doing
disabled = true

[malware_blacklist]
feed = 'http://www.malwareblacklist.com/mbl.xml'
regex_title = '^(\S+)'
regex_title_values = 'address'
regex_link = '(\S+)'
regex_link_values = 'alternativeid'
assessment = 'malware'
confidence = 85
source = 'malwareblacklist.com'
alternativeid_restriction = public
severity = medium
description = unknown
# they seem to have gone to an application model
disabled = true
