# these top-level configs are the defaults applied to each section
severity = 'medium'
confidence = 85
restriction = 'need-to-know'
alternativeid_restriction = 'public'
source = 'localhost'
guid = everyone

[sshbl.org]
feed = 'http://www.openbl.org/lists/date_all.txt'
regex = '^(\S+)[\s]+(\d+)$'
regex_values = 'address,detecttime'
source = sshbl.org
assessment = 'scanner'
description = 'ssh'
portlist = 22
protocol = tcp
alternativeid = 'http://www.openbl.org/lists/date_all.txt'
period = hourly

[bruteforceblocker]
feed = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
regex = '^(\S+)[\s|\t]+#\s(\S+\s\S+)'
regex_values = 'address,detecttime'
source = 'danger.rulez.sk'
portlist = 22
protocol = tcp
assessment = 'scanner'
description = 'ssh'
alternativeid = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
period = hourly

[spamhaus_drop]
feed = 'http://www.spamhaus.org/drop/drop.lasso'
regex = "^(\\S+)\\s;\\s(\\S+)$"
regex_values = 'address,reference'
source = 'spamhaus.org'
assessment = 'suspicious'
description = 'hijacked prefix'
confidence = 95 
alternativeid = 'http://www.spamhaus.org/sbl/sbl.lasso?query=<reference>'

[threatexpert]
feed = 'http://www.threatexpert.com/latest_threat_reports.aspx'
regex_link = "md5=([a-f0-9]{32})$"
regex_link_values = 'hash'
regex_title = '([\s\S]+)'
regex_title_values = 'description'
regex_guid = '(\S+)'
regex_guid_values = 'alternativeid'
regex_pubDate = '([\s\S]+)'
regex_pubDate_values = 'detecttime'
assessment = 'malware'
source = 'threatexpert.com'
severity = high
confidence = 95
# until we can figure out what they're doing
disabled = true

[malware_blacklist]
feed = 'http://www.malwareblacklist.com/mbl.xml'
regex_title = '^(\S+)'
regex_title_values = 'address'
regex_link = '(\S+)'
regex_link_values = 'alternativeid'
assessment = 'malware'
confidence = 85
source = 'malwareblacklist.com'
altarnativeid_restriction = public
severity = medium
description = unknown
# they seem to have gone to an application model
disabled = true

[malc0de_url]
feed = 'http://malc0de.com/rss'
assessment = 'malware'
description = 'unknown'
detection = daily
source = 'malc0de.com'
regex_description = "^URL: ([\\S\\s]+)?, IP Address: \\S+?, Country: \\S+?, ASN: \\S+?, MD5: (\\S+)?"
regex_description_values = 'address,malware_md5'
regex_link = "(\\S+)"
regex_link_values = 'alternativeid'

[malc0de_malware]
feed = 'http://malc0de.com/rss/'
assessment = 'malware'
detection = daily
sevrity = high
source = 'malc0de.com'
regex_description = "^URL: [\\S+|\\s]+?, IP Address: \\S+?, Country: \\S+?, ASN: \\S+?, MD5: (\\S+)?"
regex_description_values = 'malware_md5'
regex_link = "(\\S+)"
regex_link_values = 'alternativeid'

[google_replyto]
feed = 'http://aper.svn.sourceforge.net/svnroot/aper/phishing_reply_addresses'
source = aper.svn.sourceforge.net
assessment = 'phishing'
description = 'address contained in content'
severity = 'medium'
confidence = 75
alternativeid = 'http://aper.svn.sourceforge.net/svnroot/aper/phishing_reply_addresses'
regex = "^(\\S+),[C|D|E],(\\S+)$"
regex_values = "address,detecttime"

[google_replyto_medium]
feed = 'http://aper.svn.sourceforge.net/svnroot/aper/phishing_reply_addresses'
source = aper.svn.sourceforge.net
assessment = 'phishing'
description = 'address used in replyto/from header'
alternativeid = 'http://aper.svn.sourceforge.net/svnroot/aper/phishing_reply_addresses'
regex = "^(\\S+),[A|B],(\\S+)$"
regex_values = "address,detecttime"
confidence = 85
